.marquee{
    width:100px;
    height:40px;
    display:flex;
    
}
.content{
    animation: marquee 10s linear infinite;
}
@keyframes marquee {
    0%{transform:translateX(100%)};
    100%{
        transform:translateX(-100%)
    }
}
button{
    margin:10px;
    position:fixed;
    top:140px;
}
.display{
    display: flex;
}
.hide{
    display:none;
}
.trail:hover .display{
 display:none;
}
.trail:hover .hide{
    display:flex;
}
.zoom-in-out-box {
    margin: 24px;
    width: 50px;
    height: 50px;
    background: #f50057;
    animation: zoom-in-zoom-out 1s ease infinite;
  }
  
  @keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.5, 1.5);
    }
    100% {
      transform: scale(1, 0);
    }
  }